<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>IOTA Button</title>
</head>
<body>
<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img class="pure-img" src="/assets/iota-logo.png" style="width: 17px; margin-right: 5px">
                <span>IOTA Button</span>
            </a>
        </div>
        <div class="navbar-menu">
            <a href="/create-account.html" class="navbar-item">Register</a>
            <a href="/update-address.html" class="navbar-item is-active">Update Address</a>
            <a href="/find-address.html" class="navbar-item">Find Address</a>
        </div>
    </nav>
</header>
<section class="section">
    <div class="container">
        <div class="splash">
            <div class="box">
                <div class="content has-text-centered iota-address">
                    <h1 class="title">Donate to: {{username}}</h1>
                    <div id="qrcode" class="qrcode"></div>
                    <p class="address-text">{{iotaAddress}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>© 2017 - Andrew Youngwerth</p>
            <nav>
                <a href="/about.html" class="pure-menu-link">About</a>
                <a href="https://gitlab.com/youngwerth/iota-button" class="pure-menu-link">Code</a>
                <a href="/addresses/iota-button" class="pure-menu-link">Support The Project</a>
            </nav>
        </div>
    </div>
</footer>
</body>
<script src="/js/qrcode.min.js"></script>
<script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), "{{iotaAddress}}");
</script>
</html>