/*****************************
Globals
*****************************/

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.center-title {
    text-align: center;
}

.content > nav > a {
    margin-right: 12px;
}

.content > nav > a:last-child {
    margin-right: 0px;
}

.box {
    max-width: 100%;
}
/*****************************
Index
*****************************/

.welcome {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-size: 20px;
    padding: 12px;
}

.welcome > ol > li {
    margin-bottom: 15px;
}

/*****************************
Iota Address
*****************************/

.iota-address > p {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.qrcode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
    .splash {
        min-height: 75vh;
    }

    .iota-address {
        width: 500px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}